<?xml version="1.0"?>
<beans>
    <bean id="customer" class="com.thoughtworks.wheels.Customer">
        <constructor-args var="0001"/>
        <constructor-args ref="name"/>
    </bean>
    <bean id="name" class="com.thoughtworks.wheels.Name">
        <property name="first" var="Ming"/>
        <property name="last" var="Zhao"/>
        <property name="nick" var="xiaoming"/>
    </bean>
</beans>